@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";


*{
   font-family: "Outfit", sans-serif;
}

:root {
  --color-primary: #083719;
  --color-primary-foreground: #ffffff;
}
